<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= all.title %></h1>
    <!-- <h1>Id: <%= all.Id %></h1> -->
    <h1>Name: <%= all.Name %></h1>
    <h1>Maths: <%= all.Maths %></h1>
    <h1>Science: <%= all.Science %></h1>
    <h1>English: <%= all.English %></h1>
    <h1>Hindi: <%= all.Hindi %></h1>
    <h1>Gujrati: <%= all.Gujrati %></h1>
   
</body>
</html>